* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #99775c;
}

#search {
    padding: 10px;
    width: 80%;
    max-width: 600px;
    font-size: 16px;
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe-card {
    background-color: white;
    border: 2px solid #ff6f61; /* Додаємо контур */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
   
}

.recipe-card:hover {
    transform: scale(1.05); /* Збільшення при наведенні */
}

